<script>
  var value_1 = 0;
  var value_2;

  function typed_1(value){
    var str = document.getElementById("display").innerHTML;
    var n = "";
    var m = "";
    
    if(str.length > 20 && value != "C"){
      
    }else if(value == "/" || value == "*" || value == "+" || value == "-"){
      n = str.search(/(\.)$|[+\-*/\(\)]$/);
      if(n == -1){
        m = str.search(/\.\d*$|\)$/);
        if(m == -1){
          document.getElementById("display").innerHTML += ".0" + value;
        }else{
          document.getElementById("display").innerHTML += value;
        }
      }
    }else if(value == "("){
      n = str.search(/([+\-\(*/]$)/);
      if(n != -1){
        document.getElementById("display").innerHTML += value;
      }else if(str == "0"){
        document.getElementById("display").innerHTML = value;
      }
    }else if(value == ")"){
      n = str.match(/\(/g); 
      n = n ? n.length : 0;
      m = str.match(/\)/g);
      m = m ? m.length : 0;
      //k = str.search(/([+\-*/]+[0-9]*[\.]?[0-9]+$)/);
      if(n > m){
        document.getElementById("display").innerHTML += value;
      }
    }else if(value == "."){
      n = str.search(/(\.[0-9]*[()*\-/+]*$)|(\($)|[+\-/*]$/);
      if(n == -1){
        document.getElementById("display").innerHTML += value;
      }
    }else if(value == "C"){
      document.getElementById("display").innerHTML = "0";
    }else if(value == "="){
      n = str.search(/\.$/);
      var foo = "";
      if(n == -1){
        foo = document.getElementById("display").innerHTML;
        loadDoc(foo);
      }else{
        foo = document.getElementById("display").innerHTML + "0";
        loadDoc(foo);
      }
    }else{
      if(str == "0"){
        document.getElementById("display").innerHTML = value;
      }else{
        document.getElementById("display").innerHTML += value;
      }
    }
  }
  
  function loadDoc(input) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("display").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "static_pages/calctest?param=" + encodeURIComponent(input), true);
  xhttp.send();
  }
  
</script>
<div class="panel">
  <div class="display" id="display">0</div>
  <div class="panel_outer">
    <div class="panel_inner" onclick='typed_1("1")'>1</div><!--
    --><div class="panel_inner" onclick='typed_1("2")'>2</div><!--
    --><div class="panel_inner" onclick='typed_1("3")'>3</div><!--
    --><div class="panel_inner" onclick='typed_1("+")'>+</div><!--
    --></div>
  <div class="panel_outer">
    <div class="panel_inner" onclick='typed_1("4")'>4</div><!--
    --><div class="panel_inner" onclick='typed_1("5")'>5</div><!--
    --><div class="panel_inner" onclick='typed_1("6")'>6</div><!--
    --><div class="panel_inner" onclick='typed_1("-")'>-</div>
  </div>
  <div class="panel_outer">
    <div class="panel_inner" onclick='typed_1("7")'>7</div><!--
    --><div class="panel_inner" onclick='typed_1("8")'>8</div><!--
    --><div class="panel_inner" onclick='typed_1("9")'>9</div><!--
    --><div class="panel_inner" onclick='typed_1("*")'>*</div><!--
    --></div>
  <div class="panel_outer">
    <div class="panel_inner" onclick='typed_1("0")'>0</div><!--
    --><div class="panel_inner" onclick='typed_1("C")'>C</div><!--
    --><div class="panel_inner" onclick='typed_1(".")'>.</div><!--
    --><div class="panel_inner" onclick='typed_1("/")'>/</div>
  </div>
  <div class="panel_outer">
    <div class="panel_inner" onclick='typed_1("(")'>(</div><!--
    --><div class="panel_inner" onclick='typed_1(")")'>)</div><!--
    --><div class="panel_inner" onclick='typed_1("=")'>=</div><!--
    --><div class="panel_inner" onclick='typed_1("**")'>pow</div>
  </div>
</div>
