// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.display {
  text-align: right;
  width: 230px;
  background-color: lightgrey;
  margin-left: 2px;
  border: 3px solid black;
}

.display_scientific {
  text-align: right;
  width: 290px;
  background-color: lightgrey;
  margin-left: 2px;
  border: 3px solid black;
}

.panel_outer {
    white-space:nowrap; /* <-- force items to display on the same line */
}

.panel_inner {
    display:inline-block; /* <-- display 'in a row' */
    width: 50px;
    background-color: lightgrey;
    text-align: center;
    margin: 2px;
    border: 3px solid black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
      
div.panel_inner:hover {
  background-color: yellow;
}